
body {
  margin: 0;
  background-color: #f1f3ed;
  overflow: scroll;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.logo img{
  display:inline-block;
  width: 100px;
  height: 100px;
  margin: auto;
  float: left;
}

.compress{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 25px;
}

.header {
  height: 100px;
  background-color: #4d5e38;

}
.header span{
  float: left;
  font-size: 30px;
  display: block;
  color: #ffa366;
  text-align: center;
  padding: 30px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.header a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
}

.header a:hover {
  background-color: #cfd7d2;
  transition: 0.5s;
  padding: 40px 20px;
  text-transform: uppercase;
}
.about{
  text-align: center;

}
.homepage{
  text-align: center;
}

.new
{
  text-align: center;

}
.contacts
{
  text-align: center;
}
.gallery
{
    text-align: center;
}

.footer {
    background-color: #4d5e38;
    height: 200px;
    width: 100%;
    color: #f2f2f2;
    bottom: 0;
}

.footer-content {
    margin-left: 30px;
}

.footer .copy-right {

    color: #f2f2f2;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    height: 50px;
}

.logo-footer{
  display:inline-block;
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.footer-section {
    width: 33%;
    float: left;
    text-align: left;
    color: #fff;
}

.footer h2 {
    margin-top: 20px;
    text-transform: uppercase;
}

.footer-section ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.footer-section ul a {
    text-decoration: none;
    font-size: 20px;
    color: #DBE7F0;
  }

.sidenav {
  margin-top: 100px;
  height: 2015px;
  width: 170px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6e6ff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #3399ff;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.aboutussidenav
{
  margin-top: 100px;
  height: 1067px;
  width: 160px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6e6ff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

.aboutussidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
  color: #818181;
  display: block;
}
.aboutussidenav a:hover {
  color: #3399ff;
}
.contactussidenav {
  margin-top: 100px;
  height: 873px;
  width: 170px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6e6ff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

.contactussidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
  color: #818181;
  display: block;
}

.contactussidenav a:hover {
  color: #3399ff;
}

.newssidenav
{
  margin-top: 100px;
  height: 2170px;
  width: 160px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6e6ff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

.newssidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
  color: #818181;
  display: block;
}
.newssidenav a:hover {
  color: #3399ff;
}
.gallerysidenav
{
  margin-top: 100px;
  height: 500px;
  width: 160px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6e6ff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

.gallerysidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
  color: #818181;
  display: block;
}
.gallerysidenav a:hover {
  color: #3399ff;
}
.slider {
     width: 1200px;
     height: 550px;
     background-color: yellow;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0px;
     text-align: center;
     overflow: hidden;
   }
   .image-container {
     width: 6000px;
     background-color: pink;
     height: 550px;
     clear: both;
     position: relative;
     -webkit-transition: left 2s;
     -moz-transition: left 2s;
     -o-transition: left 2s;
     transition: left 2s;
   }

   .slide {
     float: left;
     margin: 0px;
     padding: 0px;
     position: relative;
   }
   #slide-1:target ~ .image-container {
     left: 0px;
   }
   #slide-2:target ~ .image-container {
     left: -1200px;
   }
   #slide-3:target ~ .image-container {
     left: -2400px;
   }
   #slide-4:target ~ .image-container {
     left: -3600px;
   }
   #slide-5:target ~ .image-container {
     left: -4800px;
   }

   .buttons {
     position: relative;
     top: -20px;
   }
   .buttons a {
     display: inline-block;
     height: 15px;
     width: 15px;
     border-radius: 50px;
     margin-bottom: 10px;
     background-color: lightgreen;
   }
   .pokharagallery {
     margin: 5px;
     border: 1px solid #ccc;
     float: left;
     width: 180px;
   }

  .pokharagallery:hover {
     border: 1px solid #777;
   }

  .pokharagallery img {
     width: 100%;
     height: auto;
   }
