<head>
<style>
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
  height: 100%;
  width: 100%;
  display: contents;
}
.logo img{
  display:inline-block;
  width: 100px;
  height: 100px;
  margin: auto;
  float: left;
}
.Company-Name{
    display: inline;


}

.header {
  height: 100px;
  background-color: #61608e;
}

.header a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
}

.header a:hover {
  background-color: #cfd7d2;
  transition: 0.5s;
  padding: 40px 20px;
  text-transform: uppercase;
}

.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
</style>
</head>
